.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: calc(100% - 40px); /* Giảm chiều rộng để không bị tràn */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0 20px; /* Thêm margin trái và phải */
    box-sizing: border-box;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    box-sizing: border-box; /* Đảm bảo margin không gây tràn */
    margin-left: 20px; /* Thêm margin bên trái */
    margin-right: 20px; /* Thêm margin bên phải */
    }
    .content.show {
        max-height: 5000px; /* Sử dụng max-height cố định */
      }

